.navbar-brand-my{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em !important;
    color: rgba(255, 255, 255, 1) !important;
}
.nav-link-my{
    font-size: 1.2em !important;
    color: rgba(255, 255, 255, 1) !important;
    padding: 10px 20px;
    text-align: center;

}
